@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
:root {
  --c-primary: #b2b377;
  --p-8-16: 8px 16px;
  --m-8-0: 8px 0;
}

.panel {
  width: 100vw;
  height: 100vh;
  background-image: url("Food_Pattern_5_01.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.login-container {
  padding: 40px 20px;
  text-align: center;
}
.login-content {
  backdrop-filter: blur(6px);
  border: 2px solid #03cea4;
  -webkit-box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.9);
  box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 1.6rem;
  color: white;
}
.logo {
  font-size: 2rem;
}
h2 {
  font-size: 3rem;
  line-height: 2.8;
}
.login-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.2rem;
  max-width: 260px;
  margin: 0 auto;
}
.login-form input {
  width: 100%;
  background-color: #ffffff40;
  color: #fff;
  padding: var(--p-8-16);
  border-radius: 8px;
}
input {
  font-size: 1.2rem;
  border: none;
  margin: var(--m-8-0);
}
input::placeholder {
  color: #fff;
}
input[type="submit"] {
  border: none;
  background-color: #03cea4;
  color: #163020;
  font-weight: 600;
}
.login-netoworks,
.login-or {
  margin: 16px 0;
}
hr {
  width: 70%;
  border-color: #ffffff40;
}

.login-icons {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  max-width: 260px;
}
.login-icons li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ffffff40;
  padding: var(--p-8-16);
  margin: var(--m-8-0);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 200;
}
.login-icons li > [type="logo"] {
  margin-right: 8px;
}

.login-footer {
  position: absolute;
  color: #03cea4;
  bottom:20px;
  right:50%; 
}
@media screen and (min-width: 400px) {
  .login-content_header span.logo {
    display: none;
  }
  .login-container {
    padding: 0px;
  }
  .login-content {
    position: absolute;
    right: 0px;
    width: 500px;
    height: 94vh;
    max-height:100%;
    border: 0;
    border-left: 2px solid #03cea4;
    border-radius: 0;
    max-width: 50%;
  }
  .login-content {
    animation: fRight 1s ease-in-out;
  }
  @keyframes fRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }
  .login-footer {
    right: 0px;
  }
}
